@media only screen and (max-width: 480px){
  .instagram {
    visibility: hidden;
  }

  .patreon {
    visibility: hidden;
  }
  .mobileInstagram {
    width: 10%;

  }
}


@media only screen and (min-width: 480px) and (max-width: 600px){
  .instagram {
    width: 15%;
    text-decoration: none;
    margin-left: 60%;
    margin-top: -15%;
    z-index: 100;
    
    
  
  }
  
  .patreon {
    width: 12%;
    margin-top: -15%;
    text-decoration: none;
    
    
   
  }
  .mobileInstagram {
    visibility: hidden;

  }
  .mobilePatreon {
    visibility: hidden;
  }
  }
  
  @media only screen and (min-width: 600px){
  .instagram {
    width: 55px;
    text-decoration: none;
    margin-left: 60%;
    margin-top: -80px;
    
    
  
  }
  
  .patreon {
    width: 45px;
    margin-top: -125px;
    margin-left: 75%;
    text-decoration: none;
    
   
    
   
  }
    
   
  
  }
  
  @media only screen and (min-width: 768px){
  
    .instagram {
      width: 55px;
      text-decoration: none;
      margin-left: 60%;
      margin-top: -95px;
      
      
    
    }
  
    .patreon {
      width: 45px;
     margin-top: -140px;
     margin-left: 75%;
     text-decoration: none;
    }
  }
  
  @media only screen and (min-width: 992px){
  
  
    .instagram {
      width: 100px;
      text-decoration: none;
      margin-left: 62%;
      margin-top: -113px;
      
      
    
    }
  
    .patreon {
      width: 75px;
     margin-top: -155px;
     margin-left: 75%;
     text-decoration: none;
    }
  }
  
  @media only screen and (min-width: 1200px){
  
    .instagram {
      width: 100px;
      text-decoration: none;
      margin-left: 68%;
      margin-top: -113px;
      
      
    
    }
  
    .patreon {
      width: 75px;
     margin-top: -155px;
     margin-left: 78%;
     text-decoration: none;
    }
  }



.link{
  text-decoration: none;
}

  
  .isaac {
   width: 100%;
   
   position: fixed;
   z-index: -10;
  }

  @media only screen and (max-width: 480px){
    .title {
      letter-spacing: 1px;
      margin-top: 1%;
    }
    }



@media only screen and (min-width: 600px){
  .title {
    letter-spacing: 1px;
  }
  }

  @media only screen and (min-width: 768px){
    .title {
      letter-spacing: 1px;
    }
    }

    @media only screen and (min-width: 992px){
      .title {
        letter-spacing: 1px;
        margin-top: -10px;
      }
      }

      @media only screen and (min-width: 1200px){
        .title {
          letter-spacing: 1px;
        }
        }



 

.samples{
  margin-top: 20%;
 
}



.sessions{
  margin-top: 20%;
  
}


.bio {
  text-decoration: none;
  margin-top: 140%;
 
}


p.indent {
  text-indent: 30px;
}



.container-fluid {
  background-color: black !important;
    width: 100%;
    height: 12%;
    position: fixed;
    margin-top: 0%;
    z-index: 100;
    filter: drop-shadow(1px 2px 8px black);
 
}

@media only screen and (max-width: 480px){
  .thlcontainer {
    display: block;
    cursor: pointer;
    margin-left: 50%;
    margin-top: 1000%;
    padding-bottom: 5%;
    z-index: 100;
    position: fixed;
    
    
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px){
  .thlcontainer {
    display: block;
    cursor: pointer;
    margin-left: 88%;
    margin-top: -11%;
    padding-bottom: 5%;
    z-index: 100;
    position: fixed;
    
    
  }
  /*
  .thlcontainer:hover > .bar1 {
    box-shadow: #4769d8 2px 2px;
  }
  
  .thlcontainer:hover > .bar2 {
    box-shadow: #4769d8 2px 2px;
  }
  
  .thlcontainer:hover > .bar3 {
    box-shadow: #4769d8 2px 2px;
  }
  */
  
  
  }
  
  @media only screen and (min-width: 600px){
  .thlcontainer {
    display: block;
    cursor: pointer;
    margin-left: 90%;
    margin-top: -110px;
    padding-bottom: 5%;
    z-index: 100;
    position: fixed;
    
    
  }
  /*
  .thlcontainer:hover > .bar1 {
    box-shadow: #4769d8 2px 2px;
  }
  
  .thlcontainer:hover > .bar2 {
    box-shadow: #4769d8 2px 2px;
  }
  
  .thlcontainer:hover > .bar3 {
    box-shadow: #4769d8 2px 2px;
  }
  */
  }
  
  @media only screen and (min-width: 768px){
  .thlcontainer {
    display: block;
    cursor: pointer;
    margin-left: 90%;
    margin-top: -100px;
    padding-bottom: 5%;
    z-index: 100;
    position: fixed;
    
    
  }
  /*
  .thlcontainer:hover > .bar1 {
    box-shadow: #4769d8 2px 2px;
  }
  
  .thlcontainer:hover > .bar2 {
    box-shadow: #4769d8 2px 2px;
  }
  
  .thlcontainer:hover > .bar3 {
    box-shadow: #4769d8 2px 2px;
  }
  */
  }
  
  @media only screen and (min-width: 992px){
  .thlcontainer {
    display: block;
    cursor: pointer;
    margin-left: 90%;
    margin-top: -100px;
    padding-bottom: 5%;
    z-index: 100;
    position: fixed;
    
    
  }
  
  }
  
  @media only screen and (min-width: 1200px){
  .thlcontainer {
    display: block;
    cursor: pointer;
    margin-left: 90%;
    margin-top: -100px;
    padding-bottom: 5%;
    z-index: 100;
    position: fixed;
    
    
  }
  
  }




.bar1, .bar2, .bar3 {
  width: 35px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.845);
  margin: 9px 0;
  transition: 0.4s;
  
}






.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.sidebar {
  height: 110%;
    width: 70%;
    position: fixed;
    margin-left: 100%;
    top: 0;
    padding-top: 80px;
    background-color: black;
    opacity: 100%;
    z-index: 10;
    transition: 0.5s;
    filter: drop-shadow(1px 2px 8px black);
}



.sidebar div {
  padding: 8px;
  /*font-size: 24px;*/
  display: block;
  transition: 0.5s;
  cursor: pointer;
}
.body-text {
  margin-left: 150px;
  font-size: 18px;
}

#main {
  transition: margin-left .5s;
  
}

@media only screen and (min-width: 480px) and (max-width: 600px){
#mySidebar.open {margin-left: 30%;}
}

@media only screen and (min-width: 600px){
  #mySidebar.open {margin-left: 40%;}
  }

  @media only screen and (min-width: 768px){
    #mySidebar.open {margin-left: 50%;}
    }

    @media only screen and (min-width: 992px){
      #mySidebar.open {margin-left: 62%;}
      }

      @media only screen and (min-width: 1200px){
        #mySidebar.open {margin-left: 68%;}
        }


        @media only screen and (max-width: 480px) {
          #drumSolo {
            position: fixed;
            width: 100%;
            height: auto;
            margin-top: 10%;
            z-index: -10;
          
          }
        }
        
        @media only screen and (min-width: 480px) and (max-width: 600px){
#drumSolo {
  position: fixed;
  width: 100%;
  height: auto;
  margin-top: 10%;
  z-index: -10;

}
}

@media only screen and (min-width: 600px){
  #drumSolo {
    position: fixed;
    width: 100%;
    height: auto;
    margin-top: -50%;
    margin-left: 0%;
    z-index: -10;
  
  }
  }

  @media only screen and (max-width: 480px){
  .squarebtn {
  width: 50%;
  height: 24%;
  border: 2px solid white;
  margin-top: 40%;
  margin-left: 25%;
  z-index: 4;
  position: absolute;
  filter: drop-shadow(1px 2px 8px black);
  
  /*transition: .5s all;*/
  
}
}

  @media only screen and (min-width: 481px) and (max-width: 600px){
  .squarebtn {
  width: 50%;
  height: 24%;
  border: 2px solid white;
  margin-top: 40%;
  margin-left: 25%;
  z-index: 4;
  position: absolute;
  filter: drop-shadow(1px 2px 8px black);
  
  /*transition: .5s all;*/
  
}
}
@media only screen and (min-width: 600px){
  .squarebtn {
  width: 40%;
  height: 26%;
  border: 2px solid white;
  margin-top: 40%;
  margin-left: 30%;
  z-index: 4;
  position: absolute;
  
}
}

@media only screen and (min-width: 768px){
  .squarebtn {
  width: 40%;
  height: 30%;
  border: 2px solid white;
  margin-top: 20%;
  margin-left: 30%;
  z-index: 4;
  position: absolute;
  
}
}

@media only screen and (min-width: 992px){
  .squarebtn {
  width: 40%;
  height: 30%;
  border: 2px solid white;
  margin-top: 20%;
  margin-left: 30%;
  z-index: 4;
  position: absolute;
  
}
}

@media only screen and (min-width: 1200px){
  .squarebtn {
  width: 40%;
  height: 30%;
  border: 2px solid white;
  margin-top: 20%;
  margin-left: 30%;
  z-index: 4;
  position: absolute;
  
}
}

.squarebtn:hover {
  background-color: black;
  box-shadow: black 5px 5px;
}

.blurbtn {
  width: 50%;
  height: 24%;
  border: 4px solid white;
  margin-top: -33%;
  margin-left: 25%;
  -webkit-filter: blur(5px);
  filter: blur;
  z-index: 15;
  position: absolute;
  background-color: transparent;
  opacity: 100%;
}

.shoptext {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace !important; 
}

.sidebarHeading {
  margin-top: -18%;
  margin-left: 5%;
  
 
}


@media only screen and (max-width: 480px){
.subtitle {
  margin-top: -33px;
  margin-left: 0px;
  font-family: 'Courier New', Courier, monospace;
  
}
}

@media only screen and (min-width: 481px) and (max-width: 600px){
.subtitle {
  margin-top: -33px;
  margin-left: 0px;
  font-family: 'Courier New', Courier, monospace;
  
}
}

@media only screen and (min-width: 600px){
.subtitle {
  margin-top: -55px;
  margin-left: 0px;
  font-family: 'Courier New', Courier, monospace;
  
}
}

@media only screen and (min-width: 768px){
.subtitle {
  margin-top: -60px;
  margin-left: 0px;
  font-family: 'Courier New', Courier, monospace;
  
}
}

@media only screen and (min-width: 992px){
.subtitle {
  margin-top: -68px;
  margin-left: 0px;
  font-family: 'Courier New', Courier, monospace;
  
}
}

@media only screen and (min-width: 1200px){
.subtitle {
  margin-top: -70px;
  margin-left: 0px;
  font-family: 'Courier New', Courier, monospace;
  
}
}

.sidebarItem {
  margin-top: 2%;
  font-size: 50px !important;
}

.sidebarItem:hover {
color: gray !important;
}

.itemContainer {
  margin-left: 0%;
  margin-top: -10%;
  
}

.box {
  display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 0%;
}

.form-box {
  padding: 10px;
  border-radius: 5px;
  background: black;
}

.form-box input {
  font-size: 18px;
  color: black;
  padding: 15px 10px;
  border: none;
  outline: none;
  background: #ececec;
  box-shadow: #4769d8 5px 5px;
}

.form-box button {
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background: #4769d8;
  cursor: pointer;
  transition: .3s;
  margin-top: 5%;

}

.form-box button:hover {
  background: #3357ce;
}

.tour {
  width: 50%;
  height: 50%;
}
